footer {
    background-color: #D1D1D1;
    min-height: 130px;
    padding: 10px 0 25px 0;
}

footer p {
    font-size: 13px;
    color: #000;
    padding-bottom: 0;
    margin-bottom: 8px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0;
    display: table;
    margin: 10px auto;
}

.foote_bottom_ul_amrc li a {
    color: #000;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #000;
    border: 1px solid #000;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.social_footer_ul {
    padding-left: 0;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.container {
    min-height: 100%;
    margin-bottom: -142px;
}
.container:after {
    content: "";
    display: block;
}
footer, .container:after {
    height: 142px;
}